body {
    padding-top: 10px;
    background-image: url(/assets/bg.png);
    background-size: auto;
    color: aliceblue;
    font-size: 25px;
    font-family: Helvetica;

}

.titleBG {
    height: 600px;
    width: 1100px;
    backdrop-filter: url(filters.svg#filter) blur(100px) saturate(150%);
    border-radius: 20px;

    margin: 0;
    padding: -10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.titleTab {
    height: 50px;
    width: 100px;
    backdrop-filter: url(filters.svg#filter) blur(200px) saturate(200%);
}