.title {
  padding: 15px;
  border-radius: 10px;

  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 250;
  font-weight: 900;
  
  color: coral;
  background-color: darkcyan;
}

body {
  background-color: cadetblue;
  background-size: auto;
  padding: 10px;
  justify-content: center;
}

ul li {
  display: inline-block;
  font-size: xx-large;
}

.bar {
  color: darkgreen;
  background-color:skyblue;
  font-weight: 700;
  font-family: monospace;
  font-size: 40px;
  border-radius: 10px;
  text-align: center;
  word-spacing:75px;
}


.ribbonbg {
    font-size: 300px;
    color: darkcyan;

    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
}

.ourM {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    color: coral;
    background-color: skyblue;
    padding: 20px;
    border-radius: 10px;

}

.slideshow-container {
  position: relative;
  margin: auto;
}

.mySlides:hover {
  box-shadow: 0 0 10px 5px white;
  transition: 0.2s ease;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  text-align: center;
  top: 50%;
  margin-top: 500px;
  padding: 16px;
  background-color: darkcyan;
  color: skyblue;
  font-weight: bold;
  font-size: 18px;
  transition: 0.2s ease-in-out;
  border-radius: 9px;
  user-select: none;

  justify-content: center;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: lightcoral;
}

footer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: -16px;
  padding: 10px;
  color: white;
  background-color: dimgrey;
  opacity: 50%;
}